{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
{{ ckeditor.config(language='en', width=500, height=500) }}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <div class="page-heading">
            <h1>{{title}}</h1>
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
         {{ wtf.quick_form(form, button_map={"submit":"btn btn-primary"}) }}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}